
.flex-r,
.flex-c {
  justify-content: center;
  align-items: center;
  display: flex;
}
.flex-c {
  flex-direction: column;
}
.flex-r {
  flex-direction: row;
}
.container {
  width: 100%;
  padding: 20px 30px;
}
.login-text {
  min-height: 500px;
  border-radius: 10px;
  padding: 10px 20px;
}
.logo {
  margin-bottom: 20px;
}
.logo span,
.logo span i {
  font-size: 16px;
//   color: #0d8aa7;
}
.login-text h1 {
  font-size: 16px;
}
.login-text p {
  font-size: 15px;
  color: #000000b2;
}
form {
  align-items: flex-start !important;
  width: 100%;
  margin-top: 15px;
}
.input-box {
  margin: 20px 0px;
  width: 100%;
}
.label {
  font-size: 15px;
  color: gray;
  margin-bottom: 3px;
}
.input {
//   background-color: #f6f6f6;
  padding: 0px 5px;
  border: 2px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  overflow: hidden;
  justify-content: flex-start;
  margin-top: 8px;
}

input {
  border: none;
  outline: none;
  padding: 16px 1px;
//   background-color: #f6f6f6;
  flex: 1;
}
.input i {
  color: rgba(0, 0, 0, 0.4);
  margin-left: 135px;
  cursor: pointer;
}

.check span {
  font-size: 15px;
  margin-left: 5px;
}
.test-algin{
    margin-left: 18px !important;
}

.btn {
  color: #ffffff;
  padding: 16px 190px;
  background: linear-gradient(122.33deg, #213EA1 30.62%, #213EA1 100%);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  transition: all 0.3s linear;
}
.test{
    margin-left: 3px;
}
.test-left{
    margin-left: 18px !important;
}

.btn:hover {
  transform: translateY(-2px);
}
.extra-line {
  font-size: 15px;
  font-weight: 600;
}
img, svg {
    vertical-align: middle;
    margin-left: -33px;
}
.companyDetails{
    margin-top: 114px;
    font-size: 17px;
    text-align: center;
    margin-left: 76px;
    font-weight: bold;
    color: #213EA1!important;
}

